* {box-sizing:border-box}

.slideshow-container {
  
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
    position: absolute;
    width: 100%;
    z-index: 8;
    opacity: 1;
    top: 20%;
    width: 30%;
}
.text-right{
    left: 58%;
}
.text-left{
    left: 10%;
}
.text p{
    color: #fff;
    font-size: 13px;
    font-family: Poppins;
    line-height: 18px;
    padding: 10px 40px;
    letter-spacing: 0;
}
.text h3{
    font-family: Poppins;
    font-weight: 700;
    font-size: 32px;
    text-transform: none;
    color: #fff;
    letter-spacing: 0px;
    margin: 0 40px;
    padding: 0;
    line-height: 35px;
}
.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text a{
    border: 1px solid #f44336;
    background: #f44336;
    color: #fff;
    margin: 5px 40px 0;
    padding: 0 15px;
    line-height: 42px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    height: 42px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
.text_first{
    font-size: 24px;
    color: #FFFFFF;
    text-shadow: none;
    font-family: Poppins;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 0px;
    margin: 0px 40px 20px; 
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#product-top{
  text-align: center;
  margin-top: 20px;
  
}
.product-top-header{
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-top: 3px solid #f44336;
  padding: 20px;
}

.product-top-header h4{
  position: relative;
    
    font-family: Rhodium Libre;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    
    color: #f44336;
    
    line-height: normal;
}




.product-slider{
  overflow: hidden;
  position: relative;
}
.slider-items{
  position: relative;
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}


.slider-item{
  min-width: 25%;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  background-color: #FFFFFF;
  margin: 0;
  padding: 15px 15px 20px;
  border: solid 1px #e6e6e6;
  

}

.product-image, .image-replace{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.image-replace{
  display: none;
  transition: transform 30s ease-in-out;
}
.slider-item:hover .image-replace{
  display: block;
}
.slider-item:hover .product-image{
  display: none;
}

.slider-item h5{
  text-transform: none;
  margin: 5px 0;
  padding: 0;
  height: 40px;
  overflow: hidden;
}
.short-description{
  color: #000;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  text-decoration: none;
  line-height: 20px;
  height: 40px;
  display: block;
}

.slider-item span{
  color: #f44336;
    font-weight: 600;
    font-family: Poppins;
    font-size: 13px;
    padding: 0;
}
.product-detail{
  position: relative;
  padding: 0 0 20px;
  text-align: left;
}
.slider-btn-icon button{
  border: 0;
  /* font-size: 0px; */
  height: 30px;
  line-height: 28px;
  width: 25px;
  text-shadow: none;
  text-align: center;
  background-color: transparent;
  color: #aaa;
  margin: 0;
  font-size: 18px;
  font-family: Material-Design-Iconic-Font;
}
.slider-btn-icon button:hover{
  color: #f44336;
  cursor: pointer;
}

.prev-btn::after{
  
  content: "\f2ea";
  
}
.next-btn::after{
  content: "\f2ee";
}

.product-hover{
  position: absolute;
  background: #fff;
  width: 100%;
  bottom: -100%;
  
  left: 0;
  padding: 12px 15px 3px;
  visibility: hidden;
  transition: all .35s ease-in-out 0s;
}
.product-buttons{
  display: flex;
  

}
.product-btn{
    height: 35px;
    width: 35px;
    font-size: 16px;
    line-height: 36px;
    margin-right: 4px;
    text-align: center;
    /* padding: 0 8px; */
    background-color: #000;
    color: #fff;
    background-color: #999;
    border-color: #999;
}
.product-btn:hover{
  color: #ff9800;
  background-color: #999;
  border-color: #999;
}
.cart-btn{
  background: #000;
}
.quick-view a{
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: uppercase;
  color: #f44336;
  font-weight: 600;
  font-size: 10px;
  display: block;
  line-height: 30px;
}
.slider-item:hover .product-hover{
  visibility: visible;
  bottom: 0;
}

#fashion-clothing{
  margin-top: 30px;
}

.category-tab{
  display: flex;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
.product-menu{
  width: 16.66667%;
  padding: 0 30px;
  border-top: solid 3px #f54337;
}
.product-menu-title h3{
    margin: 0;
    padding: 24px 0 20px;
    font-family: Rhodium Libre;
    font-size: 14px;
    font-weight: 500;
    color: #f54337;
    line-height: 20px;
    border-bottom: 1px solid #e6e6e6;
    text-transform: uppercase;
}
.product-menu-nav{
  margin: 0;
    padding: 10px 0;
    border: 0px;
    
}
.product-menu-nav li{
  margin: 0;
  padding: 0;
  border: 0px;
  width: 100%;
}
.product-menu-nav li a{

    padding: 10px 0;
    display: block;
    font-size: 13px;
    background: transparent;
    border: 0px;
    color: #999;
    line-height: 20px;
}
.active-menu{
  color: #000!important;
  background: transparent;
  
  
}
.product-list{
  width: 83.33333%;
}
.product-list .product-slide{
  width: 2916px;
  left: 0px;
  display: block;
  transition: 1000ms;
  transform: translate3d(0px, 0px, 0px);
}
.product-list .slider-item{
  width: 243px;
  height: auto!important;
}
.product-banner{
  display: flex;
}

.product-banner a{
  width: 50%;
}